// Background color
$primaryColorBg: #3d3d3d;
$secondaryColorBg: #0e0e0e;
$tertiaryColorBg: #fafafa;

//Brand color
$primaryColorBrand: #00d96a;
$secondaryColorBrand: #99e15e;
$tertiaryColorBrand: #06d9a3;